[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "build/entt"]
	path = entt
	url = https://github.com/skypjack/entt
[submodule "taskflow"]
	path = taskflow
	url = https://github.com/taskflow/taskflow
[submodule "delaunator-cpp"]
	path = delaunator-cpp
	url = https://github.com/delfrrr/delaunator-cpp.git
